main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.imgBurguer {
  margin: 3rem 0;
}

#home-location {
  margin: 1rem 0
}

.home-location-title,
#home-contact-title {
  font-family: var(--Anton-font);
  font-weight: 400;
  line-height: 2rem;
  font-size: 1.5rem;
  color: var(--main-color);
  text-transform: uppercase;
  margin: 1rem 0 .5rem 0;
}

.home-location-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--main-color);
  font-family: var(--Nunito-font);
  margin-bottom: .5rem;
}

.home-contact-text {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--main-color);
  font-family: var(--Nunito-font);
}

.map-iframe {
  width: 800px;
  height: 250px;
  border: 0;
  border-radius: 1rem;
}

.home-contact-text img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  main {
    padding: 0 1rem;
  }

  .imgBurguer {
    width: 100%;

  }

  .map-iframe {
    width: 100%;
  }
}

@media (max-width: 480px) {

  .home-location-title,
  #home-contact-title {
    font-size: 1.2rem;
  }

  .home-location-text,
  .home-contact-text {
    font-size: 1rem;
  }
}