<header class="app-header">
  <img src="/burguerManiaLogo.svg" alt="Burguer Mania Logo" />
  <nav class="app-nav">
    <ng-container *ngIf="!isHomePage">
      <a href="/" class="header-links">Início</a>
    </ng-container>
    <ng-container *ngIf="!isHomePage && !isMenuPage">
      <a href="" class="header-links">Categoria</a>
      <a href="/cardapio" class="header-links">Cardápio</a>
    </ng-container>
    <ng-container *ngIf="isHomePage">
      <a href="#home-location" class="header-links">Localização</a>
      <a href="#home-contact-title" class="header-links">Contato</a>
    </ng-container>
  </nav>
</header>