.header-menu {
    width: 100%;
}

.footer-menu {
    width: 100%;
    margin-top: auto;
}

.container-menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.menu-title {
    font-size: 2rem;
    font-weight: 800;
    font-family: var(--Nunito-font);
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.section-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 16px;
    height: auto;
}

.section-title {
    font-family: var(--Anton-font);
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.5rem;
    color: var(--main-color);
    text-transform: uppercase;
    margin: 1rem 0 .5rem 0;
}

.view-full-menu-button {
    cursor: pointer;
    font-family: var(--Nunito-font);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.6rem 1rem;
    width: fit-content;
    border-radius: .5rem;
    border: solid 2px var(--secondary-color);
    background-color: var(--white-color);
    color: var(--main-color);
}

.view-full-menu-button:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--overlay-color);
    z-index: 1000;
}

.modal-content {
    background-color: var(--modal-background-color);
    margin: auto;
    padding: 20px;
    border: 1px solid var(--light-gray-color);
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
}

.close {
    color: var(--main-color);
    float: right;
    font-size: 50rem;
    font-weight: bold;
}

.modal-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
}

.modal-title {
    font-family: var(--Quicksand-font);
    font-size: 1rem;
    font-weight: 800;
    color: var(--main-color);
    text-transform: uppercase;
}

.modal-description {
    font-family: var(--Quicksand-font);
    font-size: 1rem;
    font-weight: 500;
    color: var(--main-color);
    margin-top: 0.5rem;
}

.modal-price {
    font-family: var(--Quicksand-font);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--secondary-color);
    margin-top: 0.5rem;
}

.modal .close {
    font-family: var(--Quicksand-font);
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--secondary-color);
    cursor: pointer;
}

.quantity-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.quantity-selector span {
    font-family: var(--Quicksand-font);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--main-color);
}

.quantity-selector button {
    cursor: pointer;
    font-family: var(--Nunito-font);
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 0 10px;
    background: none;
    border: none;
}

.quantity-button-left {
    color: var(--secondary-color);
}

.quantity-button-right {
    color: var(--green-color);
}

.add-to-order-button {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    width: fit-content;
    border-radius: .5rem;
    border: solid 2px var(--secondary-color);
    background-color: var(--white-color);
    color: var(--main-color);
    margin-bottom: 2rem;
}

.add-to-order-button:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.div-icon-bag{
    padding: 20px;
    background-color: var(--main-color);
}

.bag-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 999;
    margin-bottom: 75px;
}

.bag-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background-color: var(--white-color);
    border-left: 1px solid var(--main-color);
    z-index: 1000;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.x-button {
    align-self: flex-end;
    cursor: pointer;
    font-family: var(--Anton-font);
    font-weight: 500;
    line-height: 2rem;
    font-size: 2rem;
    color: var(--main-color);
}

.bag-menu h2 {
    font-family: var(--Nunito-font);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 2rem;
}

.bag-menu ul {
    list-style: none;
    padding: 0;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

.bag-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--Nunito-font);
    font-size: 1rem;
    font-weight: 500;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}

.bag-item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.bag-item-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.bag-item-name {
    font-weight: 700;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bag-item-quantity-price {
    font-weight: 400;
    color: var(--main-color);
}

.bag-item-quantity {
    font-weight: 400;
    color: var(--main-color);
}

.bag-item-price {
    font-weight: 400;
    color: var(--secondary-color);
}

.remove-button {
    cursor: pointer;
    font-family: var(--Nunito-font);
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    border: solid 2px var(--secondary-color);
    background-color: var(--white-color);
    color: var(--main-color);
    margin-left: 10px;
}

.remove-button:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.order-total {
    font-family: var(--Nunito-font);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--main-color);
    margin-top: 1rem;
}

.order-total span {
    color: var(--secondary-color);
}

.submit-order-button {
    cursor: pointer;
    font-family: var(--Nunito-font);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.6rem 1rem;
    width: fit-content;
    border-radius: .5rem;
    border: solid 2px var(--secondary-color);
    background-color: var(--white-color);
    color: var(--main-color);
    margin-top: 1rem;
}

.submit-order-button:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.mini-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background-color: var(--white-color);
    border-left: 1px solid var(--main-color);
    z-index: 1000;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.mini-menu span {
    align-self: flex-end;
    cursor: pointer;
    font-family: var(--Anton-font);
    font-weight: 400;
    line-height: 2rem;
    font-size: 2rem;
    color: var(--main-color);
}

.mini-menu h2 {
    font-family: var(--Nunito-font);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.mini-menu ul {
    list-style: none;
    padding: 0;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

.mini-menu li {
    font-size: 1rem;
    font-weight: 500;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .bag-icon {
        bottom: 10px;
        /* Ajuste menor para telas menores */
        right: 10px;
    }

    main {
        padding-bottom: 80px;
        /* Para garantir que o ícone tenha espaço suficiente */
    }

    .section-menu {
        grid-template-columns: repeat(2, 1fr);
    }

    .modal-content {
        width: 90%;
    }

    .bag-menu {
        width: 100%;
        border-left: none;
    }

    .submit-order-button {
        margin-top: 1rem;
    }

    .bag-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .remove-button {
        align-self: flex-start;
        margin-top: 0.5rem;
    }
}

@media (max-width: 480px) {
    main {
        padding: 0 1rem;
    }

    .menu-title {
        font-size: 1.5rem;
        margin: 1rem 0 0;
    }

    .section-menu {
        grid-template-columns: 1fr;
    }

    .view-full-menu-button,
    .add-to-order-button {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }

    .quantity-selector button {
        font-size: 1.5rem;
    }

    .bag-menu {
        width: 100%;
        /* Ajustar a largura para 100% */
        border-left: none;
        /* Remover a borda esquerda */
        padding: 1rem;
        /* Ajustar o padding */
    }

    .submit-order-button {
        margin-top: 1rem;
        /* Garantir que o botão fique abaixo do texto */
    }

    .bag-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .remove-button {
        align-self: flex-end;
        margin-top: 0.5rem;
    }
}