<app-header></app-header>
<div class="content-wrapper">
  <main>
    <h1 class="menu-title">Cardápio</h1>

    <section class="section-menu">
      <h2 class="section-title">Hambúrgueres</h2>
      <ng-container *ngFor="let product of products" [ngSwitch]="product.categoryName">
        <app-card *ngIf="product.categoryName === 'Hambúrgueres'" 
                  [image]="product.image" 
                  [title]="product.title" 
                  [price]="product.price" 
                  (click)="openProductDetails(product)" 
                  (keypress)="openProductDetails(product)">
        </app-card>
      </ng-container>
    </section>

    <button class="view-full-menu-button" (click)="toggleFullMenu()">
      {{ showFullMenu ? 'Ocultar' : 'Ver Cardápio Completo ↴' }} 
    </button>

    <div *ngIf="showFullMenu">
      <section class="section-menu">
        <h2 class="section-title">Porções</h2>
        <ng-container *ngFor="let product of products" [ngSwitch]="product.categoryName">
          <app-card *ngIf="product.categoryName === 'Porções'" 
                    [image]="product.image" 
                    [title]="product.title" 
                    [price]="product.price" 
                    (click)="openProductDetails(product)" 
                    (keypress)="openProductDetails(product)">
          </app-card>
        </ng-container>
      </section>

      <section class="section-menu">
        <h2 class="section-title">Bebidas</h2>
        <ng-container *ngFor="let product of products" [ngSwitch]="product.categoryName">
          <app-card *ngIf="product.categoryName === 'Bebidas'" 
                    [image]="product.image" 
                    [title]="product.title" 
                    [price]="product.price" 
                    (click)="openProductDetails(product)" 
                    (keypress)="openProductDetails(product)">
          </app-card>
        </ng-container>
      </section>
    </div>

    <div *ngIf="selectedProduct" class="modal">
      <div class="modal-content">
        <span class="close" (click)="selectedProduct = null" (keydown)="selectedProduct = null">&times;</span>
        <img [src]="selectedProduct.image" alt="Produto" class="modal-image">
        <h2 class="modal-title">{{ selectedProduct.title }}</h2>
        <p class="modal-price">R$ {{ selectedProduct.price }}</p>
        <p class="modal-description">{{ selectedProduct.description }}</p>
        <div class="quantity-selector">
          <button class="quantity-button-left" (click)="adjustQuantity(-1)">-</button>
          <span>{{ quantity }}</span>
          <button class="quantity-button-right" (click)="adjustQuantity(1)">+</button>
        </div>
        <button class="add-to-order-button" (click)="addToOrder()">Adicionar ao Pedido</button>
      </div>
    </div>
  </main>
</div>
<app-footer></app-footer>