<app-header></app-header>
<div class="content-wrapper">
   <main>
      <h1 class="menu-title">Cardápio</h1>

      <section class="section-menu">
         <h2 class="section-title">Hambúrgueres</h2>

         <app-card image="/hamburguer-tradicional.png" title="Hambúrguer Tradicional" price="R$ 19.99">
         </app-card>
         <app-card image="/hamburguer-vegano.png" title="Hambúrguer Vegano" price="R$ 24.99">
         </app-card>
         <app-card image="/hamburguer-frango.png" title="Hambúrguer de Frango" price="R$ 21.99">
         </app-card>
         <app-card image="/hamburgue-bacon.png" title="Hambúrguer de Bacon" price="R$ 22.99">
         </app-card>
      </section>

      <button class="view-full-menu-button" (click)="toggleFullMenu()">
        {{ showFullMenu ? 'Ocultar' : 'Ver Cardápio Completo ↴' }} 
      </button>

      <div *ngIf="showFullMenu">
         <section class="section-menu">
            <h2 class="section-title">Porções</h2>

            <app-card image="/porcao-batata.png" title="Porção de Batata" price="R$ 23.99">
            </app-card>
            <app-card image="/porcao-onion.png" title="Porção de Onion Rings" price="R$ 19.99">
            </app-card>
            <app-card image="/porcao-nuggets.png" title="Porção de Nuggets" price="R$ 21.99">
            </app-card>
         </section>

         <section class="section-menu">
            <h2 class="section-title">Bebidas</h2>

            <app-card image="/coca-cola.jpeg" title="Coca-cola Lata" price="R$ 5.99">
            </app-card>
            <app-card image="/coca-cola-zero.jpeg" title="Coca-cola Zero Lata" price="R$ 5.99">
            </app-card>
            <app-card image="/guarana.jpeg" title="Guaraná Lata" price="R$ 5.99">
            </app-card>
         </section>
      </div>
   </main>
</div>
<app-footer></app-footer>