.button {
  cursor: pointer;
  font-family: var(--Nunito-font); 
  font-size: 1rem;
  font-weight: 700;
  padding: 0.6rem 1rem;
  width: 15rem;
  border-radius: .5rem;
  border: solid 2px var(--secondary-color);
  background-color: var(--white-color); 
  color: var(--main-color);
}

.button:hover {
  background-color: var(--secondary-color);
  color: var(--white-color); 
}

@media (max-width: 768px) {
  .button {
    width: 12rem;
  }
}

@media (max-width: 480px) {
  .button {
    font-size: 0.9rem;
    padding: 0.5rem 0.8rem;
    width: 10rem;
  }
}