.button {
  cursor: pointer;
  font-family: var(--Nunito-font); 
  font-size: 1.35rem;
  font-weight: 700;
  padding: 0.6rem 1rem;
  width: 15rem;
  border-radius: .5rem;
  border: solid 2px var(--secondary-color);
  background-color: var(--withe-color); 
  color: var(--main-color);
}

.button:hover {
  background-color: var(--secondary-color);
  color: var(--white-color); 
}