<div class="container-order">
  <app-header class="header-order"></app-header>
  <main class="order-list">
    <h1 class="order-title">Meus Pedidos</h1>
    <div *ngIf="orders.length > 0; else noOrders">
      <div class="order-card" *ngFor="let order of orders">
        <p class="order-id">Pedido: {{ order.id }}</p> <!-- Exibir o ID do pedido -->
        <ul>
          <li *ngFor="let item of order.items" class="order-item-details">
            <img [src]="item.image" alt="Produto" class="order-item-image">
            <div class="order-item-info">
              <span class="order-item-name">{{ item.productName }}</span>
              <span class="order-item-quantity-price">{{ item.quantity }}x {{ item.productName }} - {{ (item.price * item.quantity) | currency:'BRL' }}</span>
            </div>
          </li>
        </ul>
        <p class="order-status">Status: {{ order.statusName }}</p> <!-- Adicionar exibição do status do pedido -->
        <button (click)="cancelOrder(order.id)" class="cancel-button">Cancelar Pedido</button> <!-- Adicionar botão para cancelar pedido -->
        <p class="order-total">Total: {{ order.totalValue | currency:'BRL' }}</p> <!-- Exibir o valor total de cada pedido -->
      </div>
    </div>
    <ng-template #noOrders>
      <p class="no-orders">Nenhum pedido encontrado.</p>
    </ng-template>
  </main>
  <app-footer class="footer-order"></app-footer>
</div>
