@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Anton-font: 'Anton SC', sans-serif;
    --Nunito-font: 'Nunito', sans-serif;
    --Quicksand-font: 'Quicksand', sans-serif;
    --white-color: #FFFFFF;
    --main-color: #521D16;
    --secondary-color: #ED0000;
    --hover-color: #FFA500;
    --green-color: #007100;
    --gray-color: #8e8e8e;
    --light-gray-color: #ccc;
    --light-background-color: #f9f9f9;
    --modal-background-color: #fefefe;
    --overlay-color: rgba(0, 0, 0, 0.4);
}

body::-webkit-scrollbar {
    width: 5px;
    /* width de toda a barra de rolagem */
}

body::-webkit-scrollbar-track {
    background: transparent;
    /* cor da área de rastreamento */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--gray-color);
    /* cor do botão de rolagem*/
    border-radius: 20px;
    /* redondeza do botão de rolagem */
    border: 20px solid transparent;
    /* cria padding em torno do botão de rolagem*/
    height: 4px;
}
