@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

:root {
    --Anton-font: 'Anton SC', sans-serif;
    --Nunito-font: 'Nunito', sans-serif;
    --Quicksand-font: 'Quicksand', sans-serif;
    --white-color: #FFFFFF;
    --main-color: #521D16;
    --secondary-color: #ED0000;
    --hover-color: #FFA500;
}